<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <parameter name="browser" value="chrome"/>
    <packages>
      <package name="com.valuelabs.tests"/>
      <package name="firsttest"/>
      <package name="locators"/>
      <package name="wait"/>
      <package name="webdrivermethods"/>
      <package name="navigationalcommands"/>
      <package name="checkboxesandalertspopups"/>
      
    </packages>
  </test>
</suite>